<%= form_with(model: shopifydb) do |form| %>
  <% if shopifydb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shopifydb.errors.count, "error") %> prohibited this shopifydb from being saved:</h2>

      <ul>
        <% shopifydb.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :treetype %>
    <%= form.text_field :treetype %>
  </div>

  <div class="fields">
    <%= form.label :image %>
    <%= form.file_field :image%>
  </div>
  <div type="button" class="btn btn-primary">Make public? <%= form.check_box :location%></div>



  <div class="field">
    <%= form.number_field :user_id,id: :shopifydbs_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit%>
  
  </div>
<% end %>
