<%unless notice.nil? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%= notice %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<%end%>
<div class="row">
  <div class="column">
    <h1>Public Images</h1>
  </div>  
  <div class="column">
    <button type="button" class="btn btn-outline-primary"><%= link_to 'Add Image', new_shopifydb_path %></button>
  </div>  
</div>
<div class="row">
  <% @shopifydbs.each do |shopifydb| %>
    <% if shopifydb.user == current_user or shopifydb.location == "1"%>
      <div class="column">
        <div class="card">
          <td><%= shopifydb.treetype %></td>
          <td style='img_cont'><%= link_to image_tag(shopifydb.image,style:'width:100%')  %></td>
          <td><%= link_to 'More info', shopifydb %></td>
          <% if shopifydb.user == current_user %>
            <td><%= link_to 'Edit', edit_shopifydb_path(shopifydb) %></td>
            <td><%= link_to 'Delete', shopifydb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</br>
<button type="button" class="btn btn-outline-primary"><%= link_to 'Add Image', new_shopifydb_path %></button>

