<%unless notice.nil? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%= notice %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<%end%>
<p>
  <strong>Treetype:</strong>
  <%= @shopifydb.treetype %>
</p>

<div>
	<%= image_tag(@shopifydb.image) %>
</div>

<p>
    <%   # Add to your Gemfile
   # gem 'aws-sdk-rekognition'
   require 'aws-sdk-rekognition'
   credentials = Aws::Credentials.new(
      Rails.application.credentials.dig(:aws, :access_key_id),
      Rails.application.credentials.dig(:aws, :secret_access_key)
   )
   bucket = 'aws-image-repo-w-rekg' # the bucket name without s3://
   photo  = @shopifydb.image.key # the name of file
   client   = Aws::Rekognition::Client.new credentials: credentials,region: 'us-east-2'
   attrs = {
     image: {
       s3_object: {
         bucket: bucket,
         name: photo
       },
     },
     max_labels: 10
   }
  tags = ""
  response = client.detect_labels attrs
  puts "Detected labels for: #{photo}"
  response.labels.each do |label|
    tags += label.name + ", "
  end%>
</p>
<p>
  <strong>tags:</strong>
  <%  @shopifydb.update_column(:tags,tags) %>
  <%= @shopifydb.tags %>
</p>

<%= link_to 'Edit', edit_shopifydb_path(@shopifydb) %> |
<%= link_to 'Back', shopifydbs_path %>
